.dialog {

  position: absolute;
  z-index: 9999;
  top: 0;
  left:0;
  width: 100%;
  color:#000;

  -webkit-transition: -webkit-transform .4s ease-out, opacity .4s ease-out;
  -moz-transition: -moz-transform .4s ease-out, opacity .4s ease-out;
  -ms-transition: -ms-transform .4s ease-out, opacity .4s ease-out;
  -o-transition: -o-transform .4s ease-out, opacity .4s ease-out;
  transition: transform .4s ease-out, opacity .4s ease-out;

  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  transform-origin: 50% 0;

  -webkit-transform-style: perserve3d;
  -moz-transform-style: perserve3d;
  -ms-transform-style: perserve3d;
  -o-transform-style: perserve3d;
  transform-style: perserve3d;
}

.dialog.far {

  opacity: 0.1;

  -webkit-transform: perspective(300px) translateZ( 100px );
  -moz-transform: perspective(300px) translateZ( 100px );
  -ms-transform: perspective(300px) translateZ( 100px );
  -o-transform: perspective(300px) translateZ( 100px );
  transform: perspective(300px) translateZ( 100px );
}

.dialog .ctrl, .dialog .content {

  text-align: center;
  margin-top: 2rem;
}

.dialog .ctrl .btn {

  font-size: 3rem;
  line-height: 4rem;
  display: inline-block;
  padding: 0 1.5rem;
  margin: 0 1.5rem;
  color: #000;
  border-radius: 1rem;
  border: 1px solid #000;
  background: rgba(255,255,255,0.1);
}

.dialog .ctrl .btn:hover {

  background: rgba(255,255,255,0.5);
}