section.error h1 {

   margin: 30px 0;
   color: #666;
   font-size: 1.2em;
   color: #333;
}

section.error {

    padding: 30px 15px 110px 20px;
    font-size: 16px;
}

section.error .icon:before{
	content:'\e60a';
}