footer {
    margin-top: 200px;
    padding-top: 50px;
    text-align: center;
    color: #000;
    font-family: third-font, sans-serif;
}

footer img.slogan {

    width: 100%;
}

footer h1, footer h2 {

    margin:0;
}

footer h1 {

    font-size: 4rem;
}