.posts {
    font-size: 1.3rem;
    color: #666;
}

.posts .tag-top {

    font-size: 1em;
    margin-bottom: 72px;
}

.posts .tag-top>span {

    padding: .5em;
    border-radius: .5em;
    background: #666;
    color: #fff;
    box-shadow: 0 60px 20px rgba(0,0,0,0.1);
}

.posts .title {

    text-align: center;
}

.posts .title h1 {
    font-size: 1.6rem;
    color: #333;
}

.posts .title p {

    color: #aaa;
    font-size: 1.4rem;
    margin: 5px 0 3px 3px;
}

.posts .preview {

    padding: 6px 18px;
}

.posts .more {

    color: #fff;
    background-color: #333;
    position: relative;
    display: block;
    padding: 10px 15px;
    border-radius: 4px;
    text-align: center;
}

.posts .more:hover {

    background-color: #8cf2e3;
}

.posts .pagers {

    text-align: center;
    border-top: 1px solid #333;
    margin-top: 40px;
    padding-top: 40px;
}

.posts .pagers a {

    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #333;
    color: #fff;
    line-height: 40px;
}

.posts .pagers a:hover {

    background: #84fbca;
}

.icon.new, .icon.old {
    margin:0;
}

.icon.new:before {
    content:'\e60b';
}

.icon.old:before {
    content:'\e60c';
}

.posts .icon.tag:before {
    content: '\e603';
}

.posts .icon.query:before {
    content: '\e60f';
}