 .dialog .search {
    width:100%;
    padding: 0 2rem;
 }

 .dialog input {
    display: block;
    width: 100%;
    height: 4rem;
    padding: 4px 8px;
    font-size: 2.5rem;
    line-height: 1.42857143;
    color: #fff;
    background: rgba(255,255,255,0.1);
    background-image: none;
    border: 2px solid #fff;
    border-radius: 8px;

    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

 .dialog input:focus {

    box-shadow: inset 0 1px 1px rgba(255,255,255,.5),0 0 8px rgba(255,255,255,.6);
    border-color: rgba(255,255,155,.5);
    border-width: 1px;
}

 .dialog input.error {

    background: rgba(255,0,0,.4);
}

@media (min-width: 768px) {
    .dialog input {

        margin:0 auto;
        width: 720px;
    }
}