@font-face {
   font-family: 'third-font';
   src: url('./res/CaviarDreams.ttf') format('truetype');
}

@font-face {
  font-family: 'icon';
  src: url('./res/icomoon.eot');
  src: url('./res/icomoon.eot?#iefix') format('embedded-opentype'), url('./res/icomoon.woff') format('woff'), url('./res/icomoon.ttf') format('truetype'), url('./res/icomoon.svg#icomoon') format('svg');
}

body {
  margin:0;
  font-family: "Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei", Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background: #fff;
}

hr {
  border: 1px dashed #666;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:link, a:active, a:focus {
  color: #333;
  text-decoration: none;
  outline: none;
}

button:active, button:focus, input:focus {
  outline:none;
}

blockquote {

  background: #eee;
  margin: 10px 5px;
  padding: 10px;
  border-left: 10px solid #666;
}

blockquote p {
  margin: 0;
}

.section-container {

  background-color: #fff;
  position: relative;
}

section {
  padding: 30px 15px 40px 20px;
}

section img {
  display: block;
  max-width:100%;
  margin:0 auto;
}

span.icon {

  position: relative;
  display: inline-block;
  line-height: 1;
  top: 0.1em;
  margin-right: .3em;
  font-family: 'icon';
  font-style: normal;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.views {
}

@media (min-width: 940px) {

  section {
    width: 900px;
    margin: 0 auto;
  }
}


